.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-avatar-wrapper {
  position: relative;
  display: inline-block;
}

.custom-avatar-wrapper {
  display: inline-block;
}

.custom-avatar-wrapper input[type="file"] {
  display: none;
}

.custom-avatar-wrapper label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 16px;
  background-color: #4F46E5;
  color: white;
  border-radius: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.custom-avatar-wrapper label:hover {
  background-color: #4338CA;
}

.custom-avatar-wrapper label::before {
  content: '';
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
